@use "variables";

html, body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: variables.$main-font;
}

.App {
  margin: 0;
  padding: variables.$body-padding;
  min-height: 100vh;
  background-color: variables.$white;
  box-sizing: border-box;
  position: relative;
}

.App.dark-mode {
  background-color: variables.$black;
  color: variables.$white;
}

li {
  list-style: variables.$list-style;
}

input, select {
  font-family: inherit;
}