@use "screenqueries";
@use "variables";

input {
  transition: variables.$color-transition-timing;

  &:before {
    position: relative;
    z-index: -1;
  }

}

button,
input[type=button] {
  cursor: pointer;
  border: solid variables.$black 1px;
  border-radius: 5px;
  margin: variables.$button-margin;
  background: none;

  &:disabled {
    border-color: variables.$dark-grey;
  }

  &:hover:enabled {
    background-color: black;
    color: white;

  }
}

select {
  background: none;
  border: solid variables.$black 1px;
  border-radius: 5px;
  color: variables.$black;
}

option {
  background: variables.$white;
  color: variables.$black;
}

button.icon-button {
  color: black;
  border: none;
  background: none;
  width: variables.$icon-button-size;

  @include screenqueries.small-screen-only {
    width: variables.$icon-button-size * 1.2;
  }

  img {
    width: inherit;
  }

  &:hover {
    color: variables.$black;
    background: none;
  }

}

// DARK MODE BUTTON //

button.darkmode-button {

  width: 4em;
  height: 4em;
  background-color: variables.$medium-grey;
  background-color: variables.$dark-grey;
  border-radius: 100%;
  position: absolute;
  border: none;
  top: -2em;
  right: 1em;
  z-index: 2;
  animation: rotate-day 1s ease-in;
  transform: rotate(0deg);
  
  &:hover {
    background-color: variables.$medium-grey;
  }

  span {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    color: variables.$white;
    font-size: 1.6em;
    
  }
  
  span:nth-child(1) {
    top: 0;
  }
  
  span:nth-child(2) {
    bottom: 0;
  }

  @include screenqueries.small-screen-only {
    right: auto;
    left: 0;
  }

}

button.darkmode-button.night {
  animation: rotate-night 1s ease-in;
  transform: rotate(180deg);
}
  
button.darkmode-button.day {
  animation: rotate-day 1s ease-in;
  transform: rotate(0deg);
}

@keyframes rotate-night {
  0% { transform: rotate(0deg) }
  95% { transform: rotate(200deg) }
  100% { transform: rotate(180deg) }
}

@keyframes rotate-day {
  0% { transform: rotate(180deg) }
  95% { transform: rotate(370deg) }
  100% { transform: rotate(360deg) }
}

//// DARK MODE ////
/// 
.dark-mode {

  button.icon-button:hover {
      color: variables.$white;
  }

  button.icon-button {
      color: variables.$white;
  }

  select {
    border: solid variables.$white 1px;
    color: variables.$white;
  }

  option {
    background: variables.$black;
    color: variables.$white;
  }

  textarea {
    background: none;
    color: white;
  }

}